* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    border: 3px solid red;
}

nav {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #000000;
    z-index: 1;
}

.menu li {
    float: right;
    list-style-type: none;
    margin-left: 1rem;
}

.menu li a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    padding: 15px;
}

.menu li a:hover {
    background-color: #dddddd;
}

.hero-image {
    background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/disp/94380629090891.55e19f6bb6424.jpg');
    height: 50vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

.hero-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 20vw;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

footer {
    background-color: black;
    padding: 20px 0; 
    color: white;
}

footer p {
    text-align: center; 
    margin: 0; 
    font-size: 1.2em; 
    line-height: 1.6; 
}

footer i {
    margin-right: 10px;
}

